<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="course/faculty/layout">
<head>
<meta charset="UTF-8"></meta>
<title>Update Record Sheet</title>
</head>
<body>
	<div layout:fragment="content">

	<!--
	<div th:if="${success}">
			<div th:class="${success}?'callout callout-success':'callout callout-danger'">
				<h4 th:text="${success}?'Success!':'Failed!'"></h4>
				<p th:text="${success}?'Resume upload successfully.':'Resume upload failed.'"></p>
			</div>
	</div>
	
	-->
	<!-- <div th:if="${!success}">
			<div class="callout callout-danger">
				<h4>Failed!</h4>
				<p>Resume upload failed.</p>
			</div>
	</div> -->
		

		<div class="box-header with-border">
			<h3 class="box-title">Update Record Sheet</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form method="POST" action="#" th:action="@{/faculty/uploadSubmit}" enctype="multipart/form-data">
			<div class="box-body">
				
				
			<div class="form-group">
                <label>Date:</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="date" class="form-control pull-right"/>
                </div>
                <!-- /.input group -->
             </div>

			<div class="form-group">
                <label>Hours:</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                  </div>
                  <input type="text" class="form-control pull-right"/>
                </div>
                <!-- /.input group -->
             </div>


			<div class="form-group">
                <label>Task Description:</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                  </div>
                  <textarea class="form-control pull-right"/>
                </div>
                <!-- /.input group -->
             </div>

			

			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	
	
	<div layout:fragment="content-js-script">

		<script type="text/javascript">  
	        $(document).ready(function () {  
	            


	        	load_doc_types();
	        	load_batches();
	        	
	            
	  
	        });


	        function load_doc_types(){


	        	$.ajax({  
	                type: "GET", 
	                url: "/faculty/get-docs-dd", 
	                dataType: "json", 
	                contentType: "application/json", 
	                success: function (res)  
	                {  
	                	var options="<option value="+0+">Select Course</option>";
	                	
	                    $.each(res, function (data, value) {  
	  						
	                    	options=options+`<option value="${value.document_type_id}">${value.document_name}</option>`;
	                    });
	                    
	                    console.log(options);
	                    $(".doc-dd").html("");
	                    $(".doc-dd").html(options)
	                }  
	  
	            });  
	        	

		    }
	        


	        function load_batches(){

		        	$.ajax({  
		                type: "GET", 
		                url: "/faculty/get-batches-dd", 
		                dataType: "json", 
		                contentType: "application/json", 
		                success: function (res)  
		                {  
		                	var options="<option value="+0+">Select Course</option>";
		                	
		                    $.each(res, function (data, value) {  
		  						
		                    	
		                    	options=options+`<option value="${value.batch_id}">${value.batch_name}</option>`;
		                    });
		                    
		                    console.log(options);
		                    $(".batch-dd").html("");
		                    $(".batch-dd").html(options)
		                }  
		  
		            });  
	        	


		        }



	          
	    </script>  	
		
	</div>
	
	
</body>
</html>